<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Individual Post</title>
</head>
<body class="h-100">
<div th:replace="fragments/navbar :: main-navbar"></div>
<header class="jumbotron" src="../static.css/springblogimage.jpg">
    <h1 class="display-3 text-center " th:text="${post.title}" ></h1>
</header>

    <div class="container h-100 mt-3 mb-3">

        <h1 th:text="${post.title}"></h1>
            <p th:text="${post.body}"></p>
                <p>Posted By: <span th:text="${post.user.email}"></span></p>


        <div sec:authorize="isAuthenticated()">

        <th:block th:if="${post.user.id == #authentication.principal.id}">
             <form>
                 <a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="btn btn-primary btn-block">Edit</a>
            </form>
            <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post">
                <button class="btn btn-danger btn-block">Delete Post</button>
            </form>
        </th:block>

    </div>
    </div>
</body>
<div th:replace="fragments/footer :: main-footer"></div>
</html>